<!DOCTYPE html>
{% load static %}
<html lang = "en">
	<head>
			<title>Worth Your Weight In Gold</title>
			<link rel="stylesheet" type="text/css" href="{% static 'gold/style.css' %}">
			<script src="{% static 'gold/quandl.js' %}"></script>
	</head>
	<body>
			<div class = "flx">
				<h2>Enter your weight to see how much you would be worth in gold</h2>
				<form>
						<label>Your weight in lbs:</label>
						<input type="text" id="text"/>
						<button type="button" onclick="fetch()">Calculate</button>
				</form>
				<h2 id = "result">$0</h2>
			</div>
	</body>
</html>